{% extends "layouts/base.html.twig" %}

{% block title  %} Products {% endblock %}


{% block body %}
    {% if products %}
        <div class="row" xmlns="http://www.w3.org/1999/html">

            {% for product in products %}
                <div class="card col-md-3 ml-5" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><h2>{{ product.name }}</h2></h5>
                        <p class="card-text"><p>{{ product.description }}</p></p>
                        <h6 class="card-subtitle mb-2 text-muted">{{ product.price|format_currency('EUR') }}</h6>
                        <a href={{ path("product_update", {"id" : product.id})}} class="card-link">Update</a>
                        <a href="#" class="card-link text-danger" id="remove_product_anchor">
                            Remove</a>
                        <form id="delete_product" action="{{ path('product_delete', {id : product.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE"/>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>No products yet! be the first <a href={{ path("product_create") }}>to upload!</a></h2>
    {% endif %}

{% endblock %}
{% block javascripts %}
    <script>
        document.getElementById('remove_product_anchor').addEventListener('click', (e)=>{
            e.preventDefault();
            document.getElementById('delete_product').submit();
        });
    </script>
{% endblock %}
